<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        h1, h2 {
            text-align: center;
            color: green;
        }
        h2 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Javascript darslari</h1>

    <h2>
        <ul>
            <li>1-dars</li>
            <li>2-dars</li>
            <li>3-dars</li>
            <li>4-dars</li>
            <li>5-dars</li>
        </ul>
    </h2>
</body>
</html>