<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        h1, h3 {
            text-align: center;
            color: green;
        }
        input, button {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 35px;
        }
    </style>
</head>
<body>
    <h1>Login sahifasi!!!</h1>
    <br>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email manzilingizni kiriting!!!"> <br>
        <input type="password" name="password" placeholder="Parolingizni kiriting!!!"> <br>

        <button type="submit">login</button>
    </form>
    <h3>
        <a href="/">Asosiy sahifa</a>
    </h3>
</body>
</html>