<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        h1, h3 {
            text-align: center;
            color: green;
        }
        input, button {
            width: 200px;
            height: 35px;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Registratsiya sahifasi</h1>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Ismingizni kiriting"> <br>
        <input type="email" name="email" placeholder="Email manzilingizni kiriting"> <br>
        <input type="password" name="password" placeholder="Parolingizni kiriting"> <br>
        <button type="submit">Registratsiya</button>
    </form>
    <h3>
        <a href="/">Asosiy sahifa</a>
    </h3>
</body>
</html>